<!-- Menu -->
<div class="menu">
    <ul class="list">
        <li class="header">BARRA DE NAVEGACIÓN</li>
        <li>
            <a href="{{ url('/home') }}">
                <i class="material-icons">home</i>
                <span>home</span>
            </a>

        </li>
        <li>
            <a href="javascript:void(0);" class="menu-toggle">
                <i class="material-icons">create_new_folder</i>
                <span>registrar ticket</span>
            </a>
            <ul class="ml-menu">

                <li>

                    <a href="{{ url('/CU01registrarTicket') }}">registro</a>
                </li>

                <li>
                    <a href="">acciones requeridas</a>
                </li>

            </ul>
        </li>
        <li>
            <a href="javascript:void(0);" class="menu-toggle">
                <i class="material-icons">search</i>
                <span>consultar ticket</span>
            </a>
            <ul class="ml-menu">

                <li>

                    <a href="{{ url('/CU02ConsultarTicket') }}">consultar ticket</a>
                </li>

                <li>
                    <a href="">derivar ticket</a>
                </li>
                <li>
                    <a href="">cerrar ticket</a>
                </li>


            </ul>
        </li>
        <li class="active">
            <a href="javascript:void(0);" class="menu-toggle">
                <i class="material-icons">settings</i>
                <span>configurar reporte</span>
            </a>
            <ul class="ml-menu">
                <li>
                    <a href="#">Visualizar información por ticket</a>
                </li>
                <li >
                    <a href="#">Visualizar información por legajo</a>
                </li>
                <li >
                    <a href="#">Visualizar información por estado</a>
                </li>
                <li class="active">
                    <a href="#">Visualizar información por grupo de resolución</a>
                </li>
                <li>
                    <a href="#">Visualizar información por clasificación</a>
                </li>


            </ul>
        </li>

    </ul>
</div>
<!-- #Menu -->