<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>Basic Form Elements | Bootstrap Based Admin Template - Material Design</title>
    <!-- Favicon-->
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link href="{{ asset('css/bootstrap/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('css/reportes.css') }}" rel="stylesheet">

    <script type="text/javascript">
        function imprimir() {
            if (window.print) {
                window.print();
                window.close();
            } else {
                alert("La función de impresion no esta soportada por su navegador.");
            }
        }
    </script>
    <style rel="stylesheet">
        .pad{
            padding-left: 15px;
            padding-right: 15px;
        }
        .top{
            margin-top: 15px;
        }
        table tbody thead tr{
            overflow: hidden;
        }
    </style>


</head>

<body>
<div class="container-fluid">

    <br>
    <!-- header la llamita -->
    <div class="card">
        <div class="body">

            <div class="col-md-12 right">
                <p>
                    16-11-2018
                </p>
                <h1>Empresa la LLamita</h1>

            </div>
            <div class="col-md-8 left">

                <h2>Visualizar información por Clasificación de Ticket</h2>

            </div>
        </div>
    </div>
    <!-- #end# header la llamita -->

    <br>
    <!-- Criterios de busqueda seleccionados-->
    <div class="card">
        <div class="header">
            <div class="col-md-5">
                <h3>Criterios de Búsqueda Seleccionados: </h3>
            </div>
        </div>
        <div class="body">
            <div class="container">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Número de Ticket</th>
                        <th>Número de Legajo</th>
                        <th>Estado de Ticket</th>
                        <th>Clasificación de Ticket</th>
                        <th>Grupo de Resolución</th>
                        <th>Fecha de Creación</th>
                        <th>Fecha de Último Cambio</th>
                        <th>Criterio de Ordenamiento</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>4353</td>
                        <td>23232</td>
                        <td>abierto sin derivar</td>
                        <td>Problema en el funcionamiento del Sistema Operativo de PC</td>
                        <td>Administrador de base de datos</td>
                        <td>30/07/2016</td>
                        <td>22/04/2018</td>
                        <td>Ascendente</td>
                    </tr>
                    </tbody>
                </table></div>
        </div>
    </div>
    <!-- #End# criterios de busqueda seleccionados -->

    <br>
    <!-- lista de resultados -->
    <div class="card">
        <div class="header">
            <div class="col-md-5">
                <h3>Resultados Obtenidos: </h3>
            </div>
            <div class="container"> <hr></div>
        </div>
        <div class="body pad">


            <!-- clasificación -->
            <div class="card top">
                <div class="body pad">
                    <div class="container-fluid" style="overflow-x:hidden;">

                        <ul>
                            <li><b>CLASIFICACIÓN: </b>Solicitud de usuario para sistemas informaticos que utiliza la empresa</li>

                            <li><b>LISTA DE TICKET: </b>

                                <div class="container">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th>Número de Ticket</th>
                                            <th>Número de legajo</th>
                                            <th>Estado del Ticket</th>
                                            <th>Fecha de apertura</th>
                                            <th>Último grupo de resolución</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>56566</td>
                                            <td>4008</td>
                                            <td>Cerrado</td>
                                            <td>12-12-2017</td>
                                            <td>Servicio técnico</td>

                                        </tr>
                                        <tr>
                                            <td>54936</td>
                                            <td>456</td>
                                            <td>Abierto Derivado</td>
                                            <td>12-12-2017</td>
                                            <td>Administrador proxy y correo electronico</td>
                                        </tr>
                                        <tr>
                                            <td>3342</td>
                                            <td>4788</td>
                                            <td>Abierto sin Derivar</td>
                                            <td>12-12-2017</td>
                                            <td>Desarrollo sistema de reclamos</td>
                                        </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </li>

                        </ul>

                    </div>
                </div>

            </div>
            <!-- #end# clasificación -->

            <!-- clasificación -->
            <div class="card top">
                <div class="body pad">
                    <div class="container-fluid" style="overflow-x:hidden;">

                        <ul>
                            <li><b>CLASIFICACIÓN: </b>Solicitud de instalacion de aplicaciones</li>

                            <li><b>LISTA DE TICKET: </b>

                                <div class="container">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th>Número de Ticket</th>
                                            <th>Número de legajo</th>
                                            <th>Estado del Ticket</th>
                                            <th>Fecha de apertura</th>
                                            <th>Último grupo de resolución</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>56566</td>
                                            <td>4008</td>
                                            <td>Cerrado</td>
                                            <td>12-12-2017</td>
                                            <td>Servicio técnico</td>

                                        </tr>
                                        <tr>
                                            <td>54936</td>
                                            <td>456</td>
                                            <td>Abierto Derivado</td>
                                            <td>12-12-2017</td>
                                            <td>Administrador proxy y correo electronico</td>
                                        </tr>
                                        <tr>
                                            <td>3342</td>
                                            <td>4788</td>
                                            <td>Abierto sin Derivar</td>
                                            <td>12-12-2017</td>
                                            <td>Desarrollo sistema de reclamos</td>
                                        </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </li>

                        </ul>

                    </div>
                </div>

            </div>
            <!-- #end# clasificación -->


        </div>
    </div>
    <!-- #end# lista de resultados -->

</div>
<script href="{{ asset('js/bootstrap/bootstrap.min.js') }}"></script>
</body>

</html>
