@extends('layoutConstantes.baseLayout')

@section('header')

    <!-- Bootstrap Select Css -->
    <link href="plugins/bootstrap-select/css/bootstrap-select.css" rel="stylesheet" />
    <style>
        .alert-black{
            background-color: black;
        }
    </style>
@endsection

@section('menu')
    @include('GrupoDeResolucion.menu.CU09menu')
@endsection


@section('content')

<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <h2>MODIFICAR COMENTARIOS</h2>
        </div>





        <!-- Horizontal Layout -->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            MODIFICAR COMENTARIOS
                        </h2>
                        <ul class="header-dropdown m-r--5">
                            <li class="dropdown">
                                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">more_vert</i>
                                </a>
                                <ul class="dropdown-menu pull-right">
                                    <li><a href="javascript:void(0);">Action</a></li>
                                    <li><a href="javascript:void(0);">Another action</a></li>
                                    <li><a href="javascript:void(0);">Something else here</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="body">
                        <form id="form2">


                            <div class="row clearfix">
                                <div class="col-sm-12">
                                    <div class="form-group form-float">
                                        <div class="form-line">
                                            <textarea  id="descripcion_ticket" name="description" cols="30" rows="5" class="form-control no-resize" required></textarea>

                                            <label class="form-label">Observaciones</label>
                                        </div>
                                        <div class="help-info">Min. 3, Max. 255 caracteres</div>
                                        <label class="error">No se ha agregado una observación</label>
                                    </div>
                                </div>


                            </div>



                            <!-- BOTONES-->
                            <div class="row clearfix">

                                <div class="col-sm-12">
                                    <div class="button-demo">

                                        <button id="cancel" type="button" class="btn bg-grey m-t-15 waves-effect open-options" >CANCELAR</button>
                                        <button id="submm" type="button" class="btn bg-cyan m-t-15 waves-effect open-options" >ACTUALIZAR</button>

                                    </div>
                                </div>
                            </div>


                        </form>
                    </div>







                </div>
            </div>
        </div>

    <!-- #END# Horizontal Layout -->








    </div>
</section>

@endsection


@section('footer')


    <!-- Bootstrap Notify Plugin Js -->
    <script src="{{ asset('plugins/bootstrap-notify/bootstrap-notify.js') }}"></script>




<!-- Slimscroll Plugin Js -->
<script src="plugins/jquery-slimscroll/jquery.slimscroll.js"></script>





<script>
    //options
    $(document).on('click', '#submm', function(event) {
        event.preventDefault();

        var textA = document.getElementById('descripcion_ticket');
        if(textA.value == "") {
            /*
             $('#modal-alert').iziModal({
             headerColor: '#d43838',
             timeout: 10000,
             timeoutProgressbar: true,
             pauseOnHover: true
             });
             $('#modal-alert').iziModal('open');
             */
            $.notify({
                title: '  ',

                message: 'El campo observaciones no debe  estar vacío'
            },{
                type: 'black',
                animate: {
                    enter: 'animated fadeInDown',
                    exit: 'animated fadeOutDown'
                },
                placement: {
                    from: "top",
                    align: "left"
                },
                offset: 20,
                spacing: 10,
                z_index: 1031,
            });
        }

    });

</script>
@endsection